.tswActionBtn {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25rem;
  cursor: pointer;
  height: 28px;
  color: black;
  display: flex;
  justify-content: center;
  border: 0;
  align-items: center;
  border-radius: 100%;
  height: 36px !important;
  width: 36px !important;
  background-color: unset;
}

.tswActionBtn span {
  width: 24px;
  height: 24px;
}

.tswPanelFooter {
  position: sticky;
  bottom: 0;
  padding: 1rem 0 0;
  display: flex;
  gap: 1rem;
  max-height: 200px;
}

.tswChatItem {
  gap: 12px;
  margin: 0;
}

.tswChatItem p,
.tswChatItem code,
.tswChatItem pre {
  margin: 0;
}

.tswChatItem code {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.tswChatItem pre {
  white-space: pre-wrap;
  word-break: break-all;
  overflow-x: auto;
}

.tswChatItem .tswUser {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
  width: 34px;
  height: 34px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.tswChatItemSingle {
  align-items: center !important;
}

.chatContainer {
  @apply flex flex-col overflow-y-auto;
  height: calc(100vh - var(--header-height) - var(--footer-height) - 36px);
}

.chatContent {
  @apply flex-grow;
}

.scrollArea {
  @apply pr-4 pb-4 overflow-y-auto;
  height: calc(100vh - var(--header-height) - var(--footer-height) - 36px);
}

.welcomeMessage {
  @apply flex items-center justify-center font-semibold text-[32px];
  @apply bg-gradient-to-r from-blue-500 to-purple-500 bg-clip-text text-transparent;
  height: calc(100vh - var(--header-height) - var(--footer-height) - 36px);
}

.messageContainer {
  @apply mb-1;
}

.messageContainer svg path {
  fill: unset !important;
}

.userMessage {
  @apply ml-auto;
}

.assistantMessage {
  @apply mr-auto;
}

.chatItemContainer {
  @apply flex items-start;
}

.userChatItem {
  @apply justify-end;
}

.messageContent {
  @apply rounded-lg max-w-[80%];
}

.loadingContainer {
  @apply flex items-center space-x-2;
}

.loadingDot {
  @apply relative;
}

.dotBase {
  @apply w-3 h-3 bg-blue-500 rounded-full;
}

.dotPing {
  @apply absolute top-0 left-0 w-3 h-3 bg-blue-500 rounded-full animate-ping;
}

.actionContainer {
  @apply flex mx-[36px];
}

.userActionContainer {
  @apply justify-end;
}

.assistantActionContainer {
  @apply justify-start;
}

.editActions {
  display: flex;
  gap: 0.5rem;
  margin-left: 0.5rem;
}

.inputContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #efefef;
}

.textarea {
  flex-grow: 1;
  min-height: 40px;
  max-height: 120px;
  resize: none;
  border: 0;
  border-radius: 8px;
  background-color: #efefef;
  box-sizing: border-box;
}

.stopIcon {
  height: 16px;
  width: 16px;
}

.actionContainer {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.messageContainer:hover .actionContainer {
  opacity: 1;
}

.actionContainer .tswActionBtn {
  visibility: hidden;
}

.messageContainer:hover .actionContainer .tswActionBtn {
  visibility: visible;
}
