.tswActionBtn {
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  height: 28px;
  color: black;
  display: flex;
  justify-content: center;
  border: 0;
  align-items: center;
  border-radius: 100%;
  height: 24px !important;
  width: 24px !important;
  background-color: unset;
  border: 0;
  padding: 0;
  @apply hover:bg-zinc-200 rounded;
}

.tswActionBtn span {
  width: 24px;
  height: 24px;
}

.tswActionBtn:hover {
  background-color: rgb(209 213 219) !important;
  border: 0;
  color: unset;
  padding: 0;
}

.tswActionBtn:active svg {
  transform: rotate(180deg);
}

.tswActionBtn svg {
  transition: transform 0.2s ease-in-out;
}

.tswPanelFooter {
  position: sticky;
  bottom: 0;
  gap: 16px;
  max-height: 200px;
}

.tswTextAreaContent {
  display: flex;
  gap: 16px;
  align-items: center;
}

.tswChatItem {
  gap: 12px;
  margin: 0;
}

.tswChatItem p,
.tswChatItem code,
.tswChatItem pre {
  margin: 0;
}

.tswChatItem code {
  white-space: pre-wrap;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.tswChatItem pre {
  white-space: pre-wrap;
  word-break: break-all;
  overflow-x: auto;
}

.tswChatItem .tswUser {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
  width: 34px;
  height: 34px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.tswChatItemSingle {
  align-items: center !important;
}

.chatContainer {
  @apply flex flex-col overflow-y-auto;
  height: calc(97vh - var(--header-height) - var(--footer-height) - 160px);
}

.chatContent {
  @apply flex-grow;
}

.scrollArea {
  @apply overflow-y-auto;
  height: calc(97vh - var(--header-height) - var(--footer-height) - 160px);
}

.welcomeMessage {
  @apply flex items-center justify-center font-semibold text-[32px];
  background: linear-gradient(to right, #3b82f6, #a855f7);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  opacity: 0.5;
  height: calc(97vh - var(--header-height) - var(--footer-height) - 160px);
}

.messageContainer {
  @apply mb-[4px];
}

.messageContainer svg path {
  fill: unset !important;
}

.userMessage {
  @apply ml-auto;
}

.assistantMessage {
  @apply mr-auto;
}

.chatItemContainer {
  @apply flex items-start;
}

.userChatItem {
  @apply justify-end;
}

.messageContent {
  @apply max-w-[80%] text-base;
}

.loadingContainer {
  @apply flex items-center space-x-[8px];
}

.loadingDot {
  @apply relative;
}

.dotBase {
  @apply w-[12px] h-[12px] bg-blue-500 rounded-full;
}

.dotPing {
  @apply absolute top-0 left-0 w-[12px] h-[12px] bg-blue-500 rounded-full animate-ping;
}

.actionContainer {
  @apply flex mx-[36px];
}

.userActionContainer {
  @apply justify-end;
}

.assistantActionContainer {
  @apply justify-start;
}

.editActions {
  display: flex;
  gap: 8px;
  margin-left: 8px;
  margin-right: 12px;
  justify-content: space-between;
  align-items: center;
}

.inputContainer {
  position: relative !important;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  background-color: #efefef;
}

.textarea {
  flex-grow: 1;
  min-height: 40px;
  max-height: 120px;
  border: 0;
  border-radius: 8px !important;
  background-color: #efefef;
  box-sizing: border-box;
}
.inputContainer:focus-within {
  border: 1px solid #2563eb;
  border-radius: 8px;
}

.stopIcon {
  height: 16px;
  width: 16px;
}

.actionContainer {
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
}

.messageContainer:hover .actionContainer {
  opacity: 1;
}

.actionContainer .tswActionBtn {
  visibility: hidden;
}

.messageContainer:hover .actionContainer .tswActionBtn {
  visibility: visible;
}

.downloadButtonContainer {
  border-radius: 999;
}

.radioItem {
  @apply flex items-center space-x-[8px] text-black m-0;
}

.downloadStatus {
  @apply text-sm text-center;
}

.radioGroup {
  @apply grid gap-[16px] mt-[8px];
}

.dialogChoseTitle {
  @apply font-medium leading-none text-black text-xl;
}

.dialogContent {
  @apply bg-white;
}

.downloadButton {
  @apply inline-flex items-center justify-center whitespace-nowrap rounded-[8px] text-sm font-medium transition-colors focus-visible:outline-none disabled:pointer-events-none disabled:opacity-50 text-white hover:opacity-50 h-[40px] px-[8px] py-[4px] border-0;

  background-color: rgb(98, 93, 245) !important;
}

.dialogContentDiv {
  @apply grid gap-[8px] py-[8px];
}

.dialogContentRadioDiv {
  @apply space-y-[8px];
}

.errorChatItem {
  @apply text-red-500;
}

.tswActionBtnGroup {
  display: flex;
}

.toolsContainer {
  position: relative;
  display: inline-block;
  margin-bottom: 4px;
}

.toolsButton {
  padding: 6px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.toolsButton svg {
  margin-right: 4px;
}

.toolsButton:hover {
  background: #f5f5f5;
}

.toolsNumber {
  margin-left: 4px;
  color: rgb(107 114 128);
}

.toolsContent {
  position: absolute;
  bottom: 40px;
  left: -50px;
  overflow-y: auto;
  background: white;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 4px;
  max-height: 300px;
  padding: 12px 8px;
}

.toolsList {
  max-height: 280px;
  overflow: scroll;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
}
.toolsTitle {
  font-size: 14px;
  font-weight: 500;
  color: rgb(107 114 128);
  margin-bottom: 8px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.toolsTitle a {
  cursor: pointer;
  text-decoration: underline;
}

.toolName {
  font-weight: 500;
  white-space: nowrap;
  font-size: 14px;
}

.toolItem {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
  gap: 8px;
  border-radius: 4px;
  background: #fff;
}

.toolItem:hover {
  background: rgb(241, 245, 249);
}

.toolName {
  font-weight: 500;
  white-space: nowrap;
  font-size: 14px;
}
