.tswActionBtn {
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 20px;
  cursor: pointer !important;
  color: black !important;
  display: flex !important;
  justify-content: center;
  border: 0;
  align-items: center;
  border-radius: 100%;
  height: 36px !important;
  width: 36px !important;
  background-color: unset !important;
  border: 0 !important;
  padding: 0 !important;
  margin: 0;
}

.tswActionBtn span {
  width: 24px;
  height: 24px;
}

.tswActionBtn:hover {
  background-color: rgb(209 213 219) !important;
  color: black !important;
  border: 0;
  color: unset;
  padding: 0;
}

.tswActionBtn:active svg {
  transform: rotate(180deg);
}

.tswActionBtn svg {
  transition: transform 0.2s ease-in-out;
  fill: none !important;
}
