.tsw-panel {
  padding: 0px 12px;
  height: 100%;
  overflow-y: auto;
  border-left: 1px;
  margin-left: 12px;
  display: flex;
  flex-direction: column;
}

.tsw-panel-title {
  padding-bottom: 6px;
  color: black;
  margin: 0;
}

#tsw-image-content {
  color: black;
}

#tsw-explanation-content {
  padding-top: 6px;
}

#tsw-explanation-content h1,
#tsw-explanation-content h2,
#tsw-explanation-content h3,
#tsw-explanation-content h4,
#tsw-explanation-content h5,
#tsw-explanation-content h6,
#tsw-explanation-content p,
#tsw-explanation-content li,
#tsw-explanation-content div,
#tsw-explanation-content code,
#tsw-summary-content h1,
#tsw-summary-content h2,
#tsw-summary-content h3,
#tsw-summary-content h4,
#tsw-summary-content h5,
#tsw-summary-content h6,
#tsw-summary-content p,
#tsw-summary-content li,
#tsw-summary-content div,
#tsw-summary-content code {
  color: black !important;
}

.focus-visible\:ring-2:focus-visible {
  box-shadow: none !important;
}

*:focus,
*:focus-visible {
  outline: none !important;
  box-shadow: none !important;
}

.tsw-spinner {
  text-align: center;
  padding-top: 2.5rem;
}

.loading-spinner {
  width: 40px;
  height: 40px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#tsw-close-right-part:hover,
.tsw-header-btn:hover {
  background-color: rgb(209 213 219);
}

.tsw-panel-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1000;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}

.tsw-panel-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-bottom: 20px;
}

.tsw-panel-menu {
  display: flex;
  align-items: center;
  justify-content: end;
}

.tsw-panel-header-action {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tsw-panel-header-action > * + * {
  margin-left: 0.25rem;
}

.tsw-header-btn,
#tsw-close-right-part {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.25rem;
  cursor: pointer;
  height: 28px;
  color: black;
  display: flex;
  justify-content: center;
  border: 0;
  align-items: center;
  border-radius: 100%;
  height: 36px;
  width: 36px;
  background-color: unset;
}

.tsw-header-btn span {
  width: 24px;
  height: 24px;
}

.tsw-panel-header-separator {
  margin-left: 8px;
  margin-right: 8px;
  height: 20px;
  width: 1px;
  background-color: rgb(209 213 219);
}

.tsw-icon {
  width: 36px;
  height: 36px;
}
.tsw-panel-header-logo {
  display: flex;
  align-items: center;
}
.tsw-panel-header-logo span {
  margin-left: 8px;
  font-size: 18px;
  font-weight: 7000;
}

.tsw-warning {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(44, 62, 80, 0.9);
  color: white;
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  transform: translateY(-100%);
  z-index: 10001;
}

.tsw-warning-container {
  display: flex;
  align-items: center;
}

.tsw-warning-close {
  background: none;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 0 5px;
}

.rotate {
  transform: rotate(270deg);
}

.tsw-loading-container {
  text-align: center;
  padding: 1.25rem;
}

.tsw-panel-footer {
  padding: 1rem 0;
  border-top: 1px solid #e0e0e0;
  display: flex;
  gap: 1rem;
}

.tsw-panel-footer-form {
  display: flex;
  gap: 0.5rem;
}

.tsw-panel-input {
  flex-grow: 1;
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid rgb(224, 224, 224);
}

.tsw-panel-footer-btn {
  border: 1px solid rgb(224, 224, 224);
  width: 100px;
  border-radius: 8px;
}

.tsw-chat-item {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  /* border-top: 1px solid rgb(224, 224, 224); */
  margin: 0;
  padding: 12px 0 0 0;
  max-width: 80%;
}

.tsw-chat-item-user {
  flex-direction: row-reverse;
  margin-left: auto;
}

.tsw-chat-item-assistant {
  margin-right: auto;
}

.tsw-chat-item p,
.tsw-chat-item code,
.tsw-chat-item pre {
  margin: 0;
}

.tsw-small-icon {
  width: 16px !important;
  height: 16px !important;
}

.tsw-chat-item .tsw-user {
  border: 1px solid rgb(224, 224, 224);
  border-radius: 4px;
  width: 34px;
  height: 34px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.tsw-chat-item-single {
  align-items: center !important;
}
