.scrollRoot {
  @apply relative overflow-hidden;
}

.viewport {
  @apply h-full rounded-[inherit];
}

.scrollbar {
  @apply flex touch-none select-none transition-colors;
}

.scrollbarVertical {
  @apply h-full w-[10px] border-l border-l-transparent p-[1px];
}

.scrollbarHorizontal {
  @apply h-[10px] flex-col border-t border-t-transparent p-[1px];
}

.thumb {
  @apply relative flex-1 rounded-full bg-border;
}

.textareaComponent {
  @apply flex rounded-md px-[10px] py-[8px] text-[16px] w-full shadow-none;
}

.textareaComponent::placeholder {
  @apply text-[#aaa] text-[16px];
}

.textareaComponent:focus {
  @apply ring-[8px] ring-blue-500 outline-none;
}

.copyButton {
  @apply ml-[8px] px-[10px] py-[4px] text-sm rounded bg-blue-500 text-white;
}

.copyButton:hover {
  @apply bg-blue-600;
}

.radiogroupRoot {
  display: grid;
  gap: 8px;
}

.radiogroupItem {
  aspect-ratio: 1;
  height: 16px;
  width: 16px !important;
  border-radius: 9999px !important;
  border: 1px solid var(--tsw-purple) !important;
  color: var(--tsw-purple) !important;
  background: white !important;
  position: relative;
  padding: 0 !important;
}

.radiogroupItem:hover {
  background: white;
}

.radiogroupItem:focus {
  outline: none;
}

.radiogroupItem:disabled {
  cursor: not-allowed;
  opacity: 0.5;
}

.radiogroupIndicator {
  display: flex;
  align-items: center;
  justify-content: center;
}

.radiogroupCircle {
  height: 10px;
  width: 10px;
  fill: currentColor;
  color: currentColor;
}

.radiogroupItem span {
  width: 10px;
  height: 10px;
  position: absolute;
  top: 2px;
  left: 2px;
}

.dialogOverlay {
  position: fixed;
  inset: 0;
  z-index: 50;
  background-color: rgba(0, 0, 0, 0.8);
}

.dialogOverlay[data-state="open"] {
  animation: fadeIn 150ms ease-out;
}

.dialogOverlay[data-state="closed"] {
  animation: fadeOut 150ms ease-out;
}

.dialogContent {
  position: fixed;
  left: 50%;
  top: 50%;
  z-index: 50;
  display: grid;
  width: 100%;
  max-width: 500px;
  transform: translate(-50%, -50%);
  gap: 16px;
  border: 1px solid var(--border);
  background-color: white;
  padding: 24px;
  box-shadow: var(--shadow-lg);
  transition-duration: 200ms;
}

.dialogContent[data-state="open"] {
  animation: fadeIn 200ms ease-out, zoomIn 200ms ease-out, slideIn 200ms
    ease-out;
}

.dialogContent[data-state="closed"] {
  animation: fadeOut 200ms ease-out, zoomOut 200ms ease-out, slideOut 200ms
    ease-out;
}

@media (min-width: 640px) {
  .dialogContent {
    border-radius: 8px;
  }
}

.dialogCloseButton {
  position: absolute;
  right: 16px;
  top: 16px;
  opacity: 0.7;
  transition: opacity !important;
  border: none !important;
  background-color: white !important;
  cursor: pointer !important;
  width: 36px !important;
  height: 36px;
  padding: 0 !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.dialogCloseButton:hover {
  background-color: rgb(229, 231, 235);
  border-radius: 999px;
}

.dialogCloseButton:focus {
  outline: none;
  background-color: rgb(229, 231, 235);
}

.dialogCloseButton:disabled {
  pointer-events: none;
}

.dialogCloseButton[data-state="open"] {
  background-color: var(--accent);
  color: var(--muted-foreground);
}

.dialogCloseButton svg {
  color: black;
}

.dialogHeader {
  display: flex;
  flex-direction: column;
  gap: 6px;
  text-align: center;
}

@media (min-width: 640px) {
  .dialogHeader {
    text-align: left;
  }
}

.dialogFooter {
  display: flex;
  flex-direction: column-reverse;
}

@media (min-width: 640px) {
  .dialogFooter {
    flex-direction: row;
    justify-content: flex-end;
    gap: 8px;
  }
}

.dialogTitle {
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  letter-spacing: -0.025em;
  color: black;
  margin: 0;
}

.dialogDescription {
  font-size: 14px;
  color: var(--muted-foreground);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomIn {
  from {
    transform: translate(-50%, -50%) scale(0.95);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes zoomOut {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -50%) scale(0.95);
  }
}

@keyframes slideIn {
  from {
    transform: translate(-50%, -48%) scale(0.95);
  }
  to {
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes slideOut {
  from {
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    transform: translate(-50%, -48%) scale(0.95);
  }
}

.label {
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  margin: 0;
}

.label:where(.peer-disabled) {
  cursor: not-allowed;
  opacity: 0.7;
}
