.viewport {
  position: fixed;
  top: 0;
  z-index: 100;
  display: flex;
  max-height: 97vh;
  flex-direction: column-reverse;
  padding: 1rem;
  width: 150px;

  bottom: 12px !important;
}

@media (min-width: 640px) {
  .viewport {
    bottom: 12px;
    right: 0;
    top: auto;
    flex-direction: column;
  }
}

.toast {
  pointer-events: auto;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  overflow: hidden;
  border-radius: 0.375rem;
  border: 1px solid var(--tsw-background);
  padding: 0.5rem;
  padding-right: 2rem;
  box-shadow: var(--tsw-shadow-lg);
  transition: all;
}

.destructive {
  pointer-events: auto;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  overflow: hidden;
  border-radius: 0.375rem;
  border: 1px solid var(--tsw-background);
  padding: 0.5rem;
  padding-right: 2rem;
  box-shadow: var(--tsw-shadow-lg);
  transition: all;
  border-color: var(--tsw-destructive);
  background-color: var(--tsw-destructive);
  color: var(--tsw-destructive-foreground);
}

.action {
  display: inline-flex;
  height: 2rem;
  flex-shrink: 0;
  align-items: center;
  border-radius: 0.375rem;
  border: 1px solid;
  background-color: transparent;
  padding: 0 0.75rem;
  font-size: 0.875rem;
  font-weight: 500;
  transition: colors;
}

.action:hover {
  background-color: var(--tsw-secondary);
}

.action:focus {
  outline: none;
}

.close {
  position: absolute;
  right: 0.5rem;
  top: 0.5rem;
  border-radius: 0.375rem;
  padding: 0.25rem;
  color: rgba(var(--tsw-foreground), 0.5);
  opacity: 0;
  transition: opacity 150ms;
}

.close:hover {
  color: var(--tsw-foreground);
  opacity: 1;
  border: 0;
  top: 0;
  background: unset;
  right: 22px;
}

.close:focus {
  opacity: 1;
  outline: none;
}

.toast:hover .close {
  opacity: 1;
}

.destructive .close {
  color: rgb(252 165 165);
}

.destructive .close:hover {
  color: rgb(254 242 242);
}

.title {
  font-size: 0.875rem;
  font-weight: 600;
}

.description {
  font-size: 0.875rem;
  opacity: 0.9;
}

.base {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  overflow: hidden;
  border-radius: 0.375rem;
  border: 1px solid var(--tsw-background);
  padding: 0.5rem;
  padding-right: 2rem;
  box-shadow: var(--tsw-shadow-lg);
  transition: all;
  pointer-events: auto;
}

.base[data-swipe="cancel"] {
  transform: translateX(0);
}

.base[data-swipe="end"] {
  transform: translateX(100%);
}

.base[data-swipe="move"] {
  transform: translateX(0);
  transition: none;
}

.base[data-state="open"] {
  animation: slideInFromTop 150ms ease-out;
}

.base[data-state="closed"] {
  animation: fadeOut 100ms ease-in;
}

.base[data-swipe="end"] {
  animation: fadeOut 100ms ease-in;
}

.default {
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  overflow: hidden;
  border-radius: 0.375rem;
  border: 1px solid var(--tsw-background);
  padding: 0.5rem;
  padding-right: 2rem;
  box-shadow: var(--tsw-shadow-lg);
  transition: all;
  pointer-events: auto;
  background-color: white;
  border-color: var(--tsw-border);
  color: var(--tsw-foreground);
}

@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@media (min-width: 640px) {
  .base[data-state="open"] {
    animation: slideInFromBottom 150ms ease-out;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
