#tsw-code-explainer h1,#tsw-code-explainer h2,#tsw-code-explainer h3,#tsw-code-explainer ol,#tsw-code-explainer ul,#tsw-code-explainer p{
    margin:0;
}

#tsw-code-explainer p{
    line-height: 12px;
}

.tsw-tab {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    border-radius: 0.125rem;
    padding: 0.375rem 0.75rem;
    font: 700 0.875rem sans-serif;
    transition: all 150ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid white;
    background-color: white;
    margin-right: 2px;
}

.tsw-tab:focus-visible {
    outline: none;
}

.tsw-tab:disabled {
    pointer-events: none;
    opacity: 0.5;
}

.tsw-tab[data-state="active"],
.tsw-tab:hover {
    background-color: rgb(229, 231, 235);
    color: rgb(88, 110, 117);
    border-radius: 0.25rem 0.25rem 0 0;
    border: 1px solid rgb(229, 231, 235);
    border-bottom: 0;
}

.tsw-tab-content {
    border: 1px solid rgb(229, 231, 235);
    padding: 1.25rem;
    height: 267px;
    overflow: auto;
    border-radius: 0 0.25rem 0.25rem 0.25rem;
}

.tsw-tab-content textarea{
    color:black !important;
    height: 250px !important;
    overflow:scroll !important;
}


.tsw-select {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
}

.tsw-select-trigger {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2.5rem;
    width: 210px;
    padding: 0.5rem 0.75rem;
    font: 0.875rem/1.25rem sans-serif;
    background-color: white;
    border: 1px solid rgb(229, 231, 235);
    border-radius: 0.25rem;
    font-weight: 700;
}

.tsw-submit {
    background-color: rgb(98, 93, 245);
    height: 2.5rem;
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    border-radius: 0.25rem;
    color: white;
    transition: opacity 300ms;
    border: none;
    cursor: pointer;
}

.tsw-submit:focus-visible {
    outline: none;
}

.tsw-submit:hover {
    opacity: 0.5;
}

.tsw-submit[disabled]{
    opacity: 0.5;
    cursor: default;
}

.tsw-select-content {
    position: relative;
    width: 210px;
    z-index: 50;
    max-height: 24rem;
    min-width: 8rem;
    overflow: hidden;
    border-radius: 0.375rem;
    border-width: 1px;
    background-color: white;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.tsw-select-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 0.375rem 0.5rem 0.375rem 2rem;
    font-size: 0.875rem;
    line-height: 1.25rem;
    border-radius: 0.125rem;
    position: relative;
    cursor: default;
    user-select: none;
    outline: none;
}

.tsw-select-item:focus {
    background-color: rgb(229, 231, 235);
}

.tsw-select-item .tsw-span {
    position: absolute;
    left: 0.5rem;
    display: flex;
    height: 0.875rem;
    width: 0.875rem;
    align-items: center;
    justify-content: center;
}

.iconWrapper {
    width: 2.25rem; 
    height: 2.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    cursor: pointer;
  }

  #selection-overlay button div {
    width: 20px;
    height:20px;
  }
  
  #selection-overlay button div:hover {
    background-color: transparent !important;
  }
  