#tsw-select-lang-container .langContainer {
  width: 150px;
}

#tsw-select-lang-container .langContainer button {
  border: none;
  background-color: white;
  width: 100%;
}

#tsw-select-lang-container .langContainer button:hover {
  background-color: rgb(229, 231, 235);
}

.tswSelectLangItem {
  display: flex;
  align-items: center;
  padding: 6px 8px 6px 16px;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  color: black;
  width: 100%;
  border: 0;
  background-color: unset;
}

.tswSelectLangItem:hover,
tswSelectLangItem:focus {
  background-color: rgb(229, 231, 235);
}
