#tsw-select-lang-container .langContainer {
  width: 150px;
}

#tsw-select-lang-container .langContainer button {
  border: none;
  background-color: white;
  width: 100%;
}

#tsw-select-lang-container .langContainer button:hover {
  background-color: rgb(229, 231, 235);
}

.tswSelectLangItem {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.5rem 0.375rem 2rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  cursor: pointer;
  color: black;
  width: 100%;
}

.tswSelectLangItem:hover,
tswSelectLangItem:focus {
  background-color: rgb(229, 231, 235);
}

#selection-overlay button div {
  width: 24px;
  height: 24px;
}

#selection-overlay button div:hover {
  background-color: transparent !important;
}

#selection-overlay button:hover {
  opacity: 0.5;
}

#selection-overlay svg {
  stroke: #ffffff;
  fill: none !important;
}
